<h1><%= @student.to_s %></h1>
<h2><%= @student.active ? "This student is currently active." : "This student is currently inactive." %></h2>
<%= button_to "Activate/Deactivate", activate_student_path(@student) %>